.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
/.yarn/install-state.gz
**/tsdoc-metadata.json

# === packages stuff ===

# exclude temporary files
/packages/**/temp/**
/plugins/**/temp/**
# exclude generated types declaration
/packages/**/types/*.api.json
/packages/**/types/*.d.ts
/plugins/**/types/*.api.json
/plugins/**/types/*.d.ts

# exclude coverage reports
**/coverage