:root {
    --primary-0: hsl(154, 30%, 38%);
    --primary-1: hsl(154, 70%, 38%);
    --primary-2: hsl(154, 70%, 20%);

    --secondary-0: hsl(154, 10%, 80%);
    --secondary-1: hsl(154, 10%, 20%);
    --secondary-2: hsl(154, 10%, 38%);
    --secondary-3: hsl(154, 28%, 89%);
    --secondary-4: hsl(154, 40%, 80%);
    --secondary-5: hsl(154, 10%, 95%);

    --b-radius: 4px;
}

*, *::before, *::after {
    font-family: sans-serif;
    box-sizing: border-box;
}

.btn,
[role="menuitem"],
select {

    --border-color: var(--secondary-0);
    --text-color: var(--secondary-1);
    --background-color: var(--secondary-3);

    padding: .25em .5em;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    background-color: var(--background-color);

    transition: border-color 150ms ease-in-out;

    &[aria-pressed="true"] {
        --border-color: var(--primary-0);
        --text-color: var(--primary-2);
    }

    &[aria-disabled="true"] {
        --border-color: transparent;
        --text-color: var(--secondary-3);
    }

    &:focus-visible {
        outline: 2px solid var(--primary-0);
        outline-offset: 1px;
    }

    &:hover:not([aria-disabled="true"]) {
        --background-color: var(--secondary-4);
    }

    option {
        background-color: var(--secondary-3);
    }
}

input:not(
    [type=checkbox],
    [type=radiobutton]
) {

    --border-color: var(--secondary-0);
    --text-color: var(--secondary-1);
    --background-color: var(--secondary-5);

    padding: .25em .5em;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    background-color: var(--background-color);

    transition: border-color 150ms ease-in-out;

    &:focus {
        --border-color: var(--primary-0);
        outline: none;
    }


    &:disabled {
        --border-color: transparent;
        --text-color: var(--secondary-3);
    }

    label:has(+ &) {
        padding: .25em .5em;
        border: 2px solid var(--secondary-0);
        display: flex;
        align-items: center;
    }
}

.rounded {
    border-radius: var(--b-radius);

    &:has(+ &) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & + & {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}